/* Empty. Add your own CSS if you like */
/* latin */
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local('Cookie-Regular'), url(5eiDWXYu_7xmow8ddgvSIOvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.myQuote {
  font: 400 40px/0.8 'Cookie', Helvetica, sans-serif;
  color: #000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  text-align: center;
}


.author {
  font: 400 20px/0.8 'Cookie', Helvetica, sans-serif;
  color: #000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  text-align: center;
}

.pane {
  background: url("../img/iphone6plus-backdrop.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.nav-bar-block, .bar {
  background: url("../img/iPhone6plus-navbar.png") !important;
}

.tabs {
  background: url("../img/iPhone6plus-navbar.png") !important;
}

.tabs .tab-item .icon.quote-on {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url("../img/iPhone6plus-quote-on.png");
  background-size:contain;
}

.tabs .tab-item .icon.quote-off {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url("../img/iPhone6plus-quote-off.png");
  background-size:contain;
}

.tabs .tab-item .icon.category-on {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url("../img/iPhone6plus-category-on.png");
  background-size:contain;
}

.tabs .tab-item .icon.category-off {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url("../img/iPhone6plus-category-off.png");
  background-size:contain;
}

.tabs .tab-item .icon.favorite-on {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url("../img/iPhone6plus-favorite-on.png");
  background-size:contain;
}

.tabs .tab-item .icon.favorite-off {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  background-image: url("../img/iPhone6plus-favorite-off.png");
  background-size:contain;
}

.fixed-below {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 52px;
}

.scroll-content {
  position: relative;
}

.item .item-content .item-complex{
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.item-remove-animate.item-icon-right {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}












